[Unit]
Description=NodeExporter

[Service]
TimeoutStartSec=0
User={{ node_exporter_user }}
ExecStart={{ node_exporter_bin_path }} --web.listen-address={{ node_exporter_listen_address }}:9100 {% for flag, value in node_exporter_options.items() %}--{{ flag }}={{ value }} {% endfor %}

[Install]
WantedBy=multi-user.target
